<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Clean Blog - Start Bootstrap Theme</title>

  <!-- Bootstrap core CSS -->
  <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="/static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

  <!-- Custom styles for this template -->
  <link href="/static/css/clean-blog.min.css" rel="stylesheet">

</head>

<body>

  <!-- Navigation -->
   <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand" href="{{ url_for('index') }}">Neuronal Networks</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
	  <li class="nav-item">
            <a class="nav-link" href="{{ url_for('resumen') }}">Resumen</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('teoria') }}">Teoria</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">Librerias</a>
		<div class="dropdown-menu">
			<a class="dropdown-item" href="{{ url_for('libTfl') }}">TFLearn</a>
			<a class="dropdown-item" href="{{ url_for('libKeras') }}">Keras</a>
			<a class="dropdown-item" href="{{ url_for('comparativaLibs') }}">Comparativa Librerias</a>
		</div>
          </li>
	  <li class="nav-item">
            <a class="nav-link" href="{{ url_for('framework') }}">Framework</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">Juegos</a>
		<div class="dropdown-menu">
			<a class="dropdown-item" href="{{ url_for('tfl') }}">Snake TFLearn</a>
			<a class="dropdown-item" href="{{ url_for('keras') }}">Snake Keras</a>
			<a class="dropdown-item" href="{{ url_for('flappy') }}">Flappy Bird</a>	
		</div>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Header -->
  <header class="masthead" style="background-image: url('/static/img/tflKeras.jpg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>TFLearn VS Keras</h1>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Post Content -->
  <article>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto" style="text-align: justify">
          <p>Para comparar las librerias decidimos hacer nuestra propia comparativa con el juego Snake teniendo en cuenta los siguientes parámetros, tiempo de entrenamiento, precisión, número de aciertos, número de partidas entrenadas y epochs. La puntuación es la media aritmética de cien partidas diferentes jugadas con la red neuronal entrenada.</p>

          <p>SCada una de las gráficas que hay a continuación corresponden a la puntuación media de la red neuronal, en base a la cantidad de partidas de entrenamiento y número de epochs, además del accuracy obtenido, tanto para Keras como para Tflearn. </p>

          <h2 class="section-heading">Keras</h2>
	  <center>
	  	<img class="img-fluid" src="/static/img/keras_punt.PNG">
	  </center>
	  <span class="caption text-muted"> Gráfica Puntuación en partidas por epochs (Keras) </span>

          <p>Es interesante ver cómo en general:</p>
	  <ul>
		<li>Cuanto más aumenta el número de partidas entrenadas, mayor puntuación.</li>
		<li>No es tanto el salto de cien a mil partidas entrenadas como el de mil a diez-mil. </li>
		<li>Conforme los epochs aumentan, si el número de partidas de entrenamiento ha sido bajo, entonces la puntuación mejora.</li>
		<li>Los resultados se estabilizan cuando llegamos a los 20 epochs y en general mejoran.</li>
	  </ul>

	  <center>
	  	<img class="img-fluid" src="/static/img/keras_acc.PNG">
	  </center>
	  <span class="caption text-muted"> Gráfica Accuracy en partidas por epochs (Keras)  </span>

          <p>En cuanto al accuracy:</p>
	  <ul>
		<li>Se puede ver como no es tanto el cambio de quince a veinte epochs, independientemente del número de partidas.</li>
		<li>El cambio de un epoch a cinco, se refleja en el accuracy. Poco a poco, hasta llegar a los quince epochs, el accuracy va mejorando. </li>
		<li>El número de partidas también es relevante ya que además de los epochs, este parámetro también condiciona el accuracy.</li>
	  </ul>
         
          <h2 class="section-heading">TFlearn</h2>

          <center>
	  	<img class="img-fluid" src="/static/img/tflearn_punt.PNG">
	  </center>
	  <span class="caption text-muted"> Gráfica Puntuación en partidas por epochs (TFLearn)</span>

          <p>Es interesante ver cómo en general:</p>
	  <ul>
		<li>Cuanto más aumenta el número de partidas entrenadas, mayor puntuación, al igual que en el estudio de Keras. </li>
		<li>No es tanto el salto de cien a mil partidas entrenadas como el de mil a diez-mil.</li>
		<li>Conforme los epochs aumentan, si el número de partidas de entrenamiento ha sido bajo, entonces la puntuación mejora.</li>
	  </ul>

	  <center>
	  	<img class="img-fluid" src="/static/img/tflearn_acc.PNG">
	  </center>
	  <span class="caption text-muted"> Gráfica Accuracy en partidas por epochs (TFLearn)</span>

          <p>En cuanto al accuracy:</p>
	  <ul>
		<li>En cuanto al accuracy se puede apreciar como también conforme el número de partidas aumenta este también aumenta, pese a que la mejora entre las mil y diez-mil partidas no es tan clara como en el caso de Keras.</li>
	  </ul>

	  <h2 class="section-heading">Conclusión</h2>

	  <p>La conclusión de la comparativa sería la siguiente:</p>
 
	  <p>Es interesante ver que los mejores resultados, en general, se obtienen cuando el número de partidas de entrenamiento es más grande, se dispara completamente cuando pasamos a las 10000 partidas.</p>  
 
	  <p>En cuanto a los epochs, se puede apreciar como, en general, los resultados mejoran a medida que los epochs aumentan, aunque está muy interrelacionado con el número de partidas entrenadas.</p>  
 
	  <p>Si hubiera que destacar algo es que cuando el número de epochs es alto y el número de partidas también, los resultados no son precisamente los mejores. Pensamos que esto tiene que ver por una problemática que será comentada después conocida como overfitting.</p> 
 
	  <p>En ambas gráficas se puede apreciar como Keras en general tiene mejores resultados que Tflearn en las mismas condiciones y también mejor accuracy. Por tanto, teniendo en cuenta que la comunidad de Keras es mayor que la de Tflearn, utilizaremos Keras para programar nuestra red neuronal.</p>
        </div>
      </div>
    </div>
  </article>

  <hr>

  <!-- Footer -->
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <ul class="list-inline text-center">
            <li class="list-inline-item">
              <a href="https://github.com/jangel97/TFGNNSnakeFlappy" target="_blank">
                <span class="fa-stack fa-lg">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fab fa-github fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
          
            <li class="list-inline-item">
              <a href="https://www.youtube.com/watch?v=O6OZs0533bs&list=PLcgIGJXOlwfc7OrFi-RVXyNsvZ_g_fEvR" target="_blank">
                <span class="fa-stack fa-lg">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fab fa-youtube fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
	  </ul>
          <p class="copyright text-muted">Creado por Jose Angle Morena Simón y Eduard Forés Ferrer</p>
        </div>
      </div>
    </div>
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="/static/vendor/jquery/jquery.min.js"></script>
  <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Custom scripts for this template -->
  <script src="/static/js/clean-blog.min.js"></script>

</body>

</html>
