<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Clean Blog - Start Bootstrap Theme</title>

  <!-- Bootstrap core CSS -->
  <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="/static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

  <!-- Custom styles for this template -->
  <link href="/static/css/clean-blog.min.css" rel="stylesheet">

</head>

<body>

  <!-- Navigation -->
 <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand" href="{{ url_for('index') }}">Neuronal Networks</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
	  <li class="nav-item">
            <a class="nav-link" href="{{ url_for('resumen') }}">Resumen</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('teoria') }}">Teoria</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">Librerias</a>
		<div class="dropdown-menu">
			<a class="dropdown-item" href="{{ url_for('libTfl') }}">TFLearn</a>
			<a class="dropdown-item" href="{{ url_for('libKeras') }}">Keras</a>
			<a class="dropdown-item" href="{{ url_for('comparativaLibs') }}">Comparativa Librerias</a>
		</div>
          </li>
	  <li class="nav-item">
            <a class="nav-link" href="{{ url_for('framework') }}">Framework</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">Juegos</a>
		<div class="dropdown-menu">
			<a class="dropdown-item" href="{{ url_for('tfl') }}">Snake TFLearn</a>
			<a class="dropdown-item" href="{{ url_for('keras') }}">Snake Keras</a>
			<a class="dropdown-item" href="{{ url_for('flappy') }}">Flappy Bird</a>	
		</div>
          </li>
          
        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Header -->
  <header class="masthead" style="background-image: url('/static/img/codeImg.jpeg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>FrameWork</h1>
            <span class="subheading">como funciona nuestra Red Neuronal.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Post Content -->
  <article>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto" style="text-align: justify">
	  <div class="clearfix">
		Si deseas acceder al código del FrameWork pulsa aquí:
		<a class="btn btn-primary float-right" href="https://github.com/jangel97/TFGNNSnakeFlappy/blob/master/NN/nn.py" target="_blank">FrameWork &rarr;</a>
	  </div>
          <p>Al principio del código se puede observar una serie de imports que son las librerías necesarias para que la red neuronal pueda funcionar. Hay una librería de la cual se ha hablado poco en el trabajo y es tensorflow. Esta librería está importada por el hecho de que Keras y Tflearn dependen de esta ya que tensorflow es el motor que usan tanto Keras como Tflearn para ejecutar sus distintas operaciones.</p>

          <p>A continuación, se encuentra la única clase que contiene este fichero llamada NN. Esta contiene un constructor en el que se definen diferentes parámetros para  poder empezar a usar la red neuronal según la librería de deep learning elegida y el juego elegido. Los parámetros que se tienen que definir cómo se ha explicado anteriormente son: la librería que se quiere usar ‘tfl’ o ‘keras’, que juego se va a jugar, en nuestro caso será ‘snake’ o ‘flappy’ y cuantas neuronas va a tener la red neuronal en la input layer y las hidden layer.</p>

          <p>También, se prepara el nombre del fichero que contiene el entrenamiento dependiendo del juego elegido, se crea el modelo de la red neuronal con el número de neuronas definido para la input y hidden layer, este se carga el entrenamiento del fichero en el modelo para poder usar la red neuronal. Estas funciones son hechas dependiendo de la librería elegida por la simple razón de que el Keras y el Tflearn no usan las mismas funciones para crear el modelo y tampoco guardan el entrenamiento de la misma manera.</p>

          <p>Para acabar con el constructor, se pueden apreciar unas instancias llamadas session y graph su presencia es necesaria ya que para poder usar Keras dentro una servicio web es necesario especificar la sesión por el hecho que Keras gestiona su propia sesión interna y graph. Con esta instanciación conseguimos que cada thread (cada sesión) tenga su propio objeto graph y así no hayan problemas de concurrencia.</p>

          <p>El objeto graph contiene dos tipos de información muy relevante. Por una parte, contiene la estructura que indica cómo están compuestas las operaciones individuales sin indicar  como estas deberían ser usadas. Por otra parte, tensorflow provee una mecanismo general para guardar metadatos en el objeto graph los cuales son importantes para el funcionamiento de Keras.</p>

          <p>En este párrafo se va a explicar cómo se crea el modelo de la red neuronal para Keras y para Tflearn. Los dos modelos tienen varias cosas en común que son las siguientes: </p>

	<ul>
		<li>Los dos modelos están formados por tres capas input, hidden y output layer.</li>
		<li>Son redes neuronales clasificatorias.</li>
		<li>Las funciones de activación son las mismas.</li>
		<ul>
			<li>Input layer = linear </li>
			<li>Hidden layer = relu </li>
			<li>Output layer = linear </li>
		</ul>
		<li>El optimizador usado es el adam.</li>
		<li>El loss es la función del error cuadrático medio (Es una función de riesgo correspondiente al valor esperado de la pérdida del error al cuadrado).</li>
	</ul>

          <p>Alguna cuestión a discutir sería el porque la hidden layer tiene la función de activación relu y no otra. Decidimos poner esta función de activación porque vimos que la comunidad decía que la mejor función para lo que queremos hacer es la relu. Para decidir el optimizador buscamos información y encontramos que el adam es el que tiene un menor coste cuantas más iteraciones se hagan sobre el dataset.</p>

          <p>En la creación de modelos lo único que se diferencia el Keras del Tflearn es que cada librería tiene sus funciones para crear el modelo y compilarlo para así tener la red preparada para entrenar o cargar un entrenamiento. </p>

          <p>A partir de ahora vamos a indagar sobre las funciones que alimentan el dataset de la red neuronal, la función que la entrena y la función para calcular una predicción. </p>

          <p>Empezaremos por el initial_population_url() esta función espera que le pasen por parámetro una función de un juego para poder sacar las observaciones del estado actual del juego, una función para poder tomar una acción según el estado del juego y el estado del juego actual en un objeto JSON. Estas funciones están escritas en los fichero flappy.py y snake.py y segun el juego que se ha pedido en el servidor se van a hacer las función de uno u otro archivo. Esta función es llamada por la petición getaction() del servidor. </p>

          <p>A continuación, se encuentra la función save_data() la cual espera que se le pase por parámetro un JSON con la información extraída del initial_population_url() y si se ha terminado el juego o no. Además de una función para calificar si la función ha sido neutra o buena. Esta función califica si una acción es buena, neutra o mal. Una vez calificada la acción se encapsula con la observación con la ayuda de la función add_action_to_observation() y se le añade un 1, 0 o -1 dependiendo la calidad de la acción. El array quedaría así [[acción,obs], calificación]. Una vez creado este array se guarda en la estructura training_data para cuando termine el entrenamiento el modelo pueda tratar el dataset con la función que se explicará a continuación. </p>

        <p>La siguiente función sería train_model() la cual recibe por parámetro la estructura que contiene el dataset y el modelo. Dependiendo de la librería seleccionada (TFlearn, Keras), ejecutará unos métodos u otros, pero en definitiva el objetivo de esta función es entrenar el modelo para que este sea capaz de predecir. En un principio la idea es separar en dos subconjuntos X y Y el dataset de entrenamiento. Y corresponde a como de buena fue considerada una acción en cuestión y X guarda los inputs de la red neuronal. Esto es así por la sintaxis  de la función fit ya que esta va accediendo a la misma posición de cada uno de los subconjuntos evaluando como de correcta es cada una de las combinaciones de entradas y ponderando cada una de las neuronas mediante el algoritmo back-propagation.</p>
	<p>Es importante tener en cuenta que la funcion reshape se utiliza para redimensionar los datos de manera que la función fit pueda interpretar los dos conjuntos a la vez pero separadamente.</p>

	<p>La función train_rest() es la encargada de comunicar la petición de entrenar la red neuronal del servidor con la función encargada de entrenar la red neuronal ya que esta función le pasa por parámetro los datos que necesita la función train_model() para realizar su entrenamiento.</p>
	<p>Finalizamos la clase NN con la función de predictAction() la cuál en primer lugar genera a partir del objeto request información que la input layer de la red neuronal pueda pocesar, es decir, crea el estado del juego. A continuación, para cada movimiento posible se calcula la predicción de como de bueno es teniendo en cuenta el estado del juego y este es almacenado en un array para luego seleccionar el movimiento con mayor probabilidad de ser efectivo y poder retornarlo. Por supuesto, todo esto siempre dependiendo de cada librería seleccionada.</p>
	<p>Aunque la red neuronal ya está explicada aún falta por explicar cómo se han implementado los archivos flappy.py y snake.py ya que són los que terminan de completar la red neuronal para su correcto funcionamiento dependiendo del juego elegido</p>
	<p>Estos dos documentos tienen las mismas funciones que son las que usa la red neuronal para poder entrenar a los diferentes juegos que se quieran jugar. </p>
	<p></p>
        </div>
      </div>
    </div>
  </article>

  <hr>

  <!-- Footer -->
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <ul class="list-inline text-center">
            <li class="list-inline-item">
              <a href="https://github.com/jangel97/TFGNNSnakeFlappy" target="_blank">
                <span class="fa-stack fa-lg">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fab fa-github fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
          
            <li class="list-inline-item">
              <a href="https://www.youtube.com/watch?v=O6OZs0533bs&list=PLcgIGJXOlwfc7OrFi-RVXyNsvZ_g_fEvR" target="_blank">
                <span class="fa-stack fa-lg">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fab fa-youtube fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
	  </ul>
          <p class="copyright text-muted">Creado por Jose Angle Morena Simón y Eduard Forés Ferrer</p>
        </div>
      </div>
    </div>
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="/static/vendor/jquery/jquery.min.js"></script>
  <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Custom scripts for this template -->
  <script src="/static/js/clean-blog.min.js"></script>

</body>

</html>
